BODY {
  background: #F3F1EF;
	text-indent:0px;
  width:100%;
  height:100vh;
  font-family: 'HelveticaNeueLTPro-Md';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  margin: 0;
}

/*Stephen Malloy Website CSS code for menu hamburger*/
@media only screen and (max-width: 768px)
.hamburger {
    display: block;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.hamburger i {
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;

}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main-nav {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
.sf-menu > li {
    padding-right: 22px;
    padding-left: 22px;
    ': ;
}
.sf-menu li {
    white-space: nowrap;
    *white-space: normal;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.sf-menu > li {
    display: inline-block;
}
.sf-menu li {
    position: relative;
}
.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
/*Outer Container*/
.outerContainer{
  width:100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
}
.sf-menu .emptynavlink {
    display: none !important;
    visibility: hidden;
}
.sf-menu > li {
    padding-right: 22px;
    padding-left: 22px;
    ': ;
}
.sf-menu li {
    white-space: nowrap;
    *white-space: normal;
    -webkit-transition: background .2s;
    transition: background .2s;
}
.sf-menu > li {
    display: inline-block;
}
.sf-menu li {
    position: relative;
}
.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: #EFF4E4;
    overflow: auto;
    z-index: 99999;
}
element.style {
    display: none;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: #EFF4E4;
    overflow: auto;
    z-index: 99999;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font: 16px/24px 'Questrial', sans-serif;
    font-weight: normal;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background: #EFF4E4;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.nav-wrapper {
    text-align: center;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-wrapper .close {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.nav-wrapper .close i {
    font-size: 24px;
    -webkit-transition: 0.2s color linear;
    transition: 0.2s color linear;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
i {
    font-style: italic;
}
.mobile-nav {
    padding: 75px 0px 25px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
nav {
    display: block;
}
.mobile-nav > ul > li {
    margin-bottom: 25px;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

user agent stylesheet
ul {
    list-style-type: disc;
}


element.style {
}
@media only screen and (max-width: 768px)
.header {
    padding-top: 25px;
}
.header {
    text-align: center;
    width: 100%;
    background: #EFF4E4;
    padding-top: 50px;
    padding-bottom: 50px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
header {
    display: block;
}

element.style {
    overflow: visible;
}
.row {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

element.style {
    overflow: visible;
}
@media only screen and (max-width: 768px)
*[class*='col-'] {
    float: none;
    width: 100%;
}
.col-1-1 {
    width: 100%;
    float: none;
}
*[class*='col-'] {
    float: left;
    padding: 0 15px;
    position: relative;
    overflow: hidden;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}




/*Site Font*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap')

*{
  margin:0;
  padding:0;
  outline: none;
  box-sizing:border-box;
  font-family: 'Comfortaa', cursive;
}

/*Header*/
.siteHeader{
  width:100%;
  margin-top: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: block;
}
.topHeaderBar{
  color: #white;
  font-family: 'HelveticaNeueLTPro-Md';
  box-sizing: border-box;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
}
.row{
  border-radius: 5px;
  padding-right: 1px;
  padding-left: 1px;
  margin-right: auto;
  margin-left: auto;
  background: rgba(0,0,0,0.1);
  width: 100%;
  display: flex;
}
#rowLeft{
  width: 50%;
  height:50px;
	float:left;
	color:white;
  display: flex;
  justify-content: space-between;
}
#headerBarText{
  width: 40%;
  margin-left:2.5%;
  font-family:cursive;
}
#headerBarEmail{
  width: 60%;
  font-family:cursive;
}
#rowright{
  width: 50%;
  height:50px;
	float:right;
	color:white;
  display: flex;
  justify-content: space-between;
}
#headerBarSocial{
  width: 60%;
  margin-right: 2%;
  padding-top: 5px;
  float: right;
}


/*Search Bar*/
.headerBarSearch{
  width: 40%;
  margin-right: 2%;
  padding-top: 2px;
}

.wrapper{
  background: rgba(0,0,0,0.6);
  max-width: 600px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.wrapper .input{
  width:85%;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.searchBtn{
  background: #ffec00;
  width: 15%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.searchBtn .search{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 18px;
  width: 50%;
}

/*Header Site Logo*/
.container{
  max-height: 50px;
  box-sizing: border-box;
  padding-right: 2%;
  padding-left: 2%;
  border-radius: 2%;
  margin-right: 2%;
  margin-left: 2%;
  border-top: 30px;
  border-bottom: 1px;
  text-align: center;
}

/*Site Title Logo*/
.headerSiteTitle{
  width:100%;
  max-height: 25px;
  height:auto;

}
.siteTitle{
  position: absolute;
  resize: both;
  top: 32%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#siteLogo{
  max-width: 100%;
  height: auto;
  width: auto;
  transform: scale(.7);
}
#siteLogo{

}
/*Site Navigation*/
.siteNavigation{
  width:100%;
  text-align: center;
  padding-left: 4%;
}

.linksDiv{
  width:100%;
  margin-top: 30%;
  text-align: center;
}
.links{
	color:white;
	font-size:36px;
  margin-right: 3%;
	text-align:center;
  word-spacing: normal;
}
A:visited {
 color:white;
 text-decoration:none;
}
A:link    {
 color:white;
 text-decoration:none;
}
A:hover   {
	color:silver;
  text-decoration:none;
}
A:active  {
	color:rgb(0,102,153);
  text-decoration:none;
}

/*Home Page Image / Slider*/
.homepageImage{
  position: absolute;
  resize: both;
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 2%;
  padding-bottom: 5%;

}
#homepageImage{
  max-width: 100%;
  height: auto;
  width: auto;
}

/*Site Main Body*/
.containerMain{
  box-sizing: border-box;
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;
  border-radius: 2%;
  margin-right: 2%;
  margin-left: 2%;
}
.containerNewsletter{
  box-sizing: border-box;
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;
  border-radius: 2%;
  margin-right: 2%;
  margin-left: 2%;
}

#iconLinks{
  position: absolute;
  left: 50%;
  float: left;
}
.quote{
  padding-top: 55%;
  width: 100%;
  text-align: center;
}
/*Footer*/
.siteFooter{
	background-color:white;
	margin-top:55%;
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;
  border-radius: 2%;
  margin-right: 2%;
  margin-left: 2%;
	height:100px;
}

/*External Links*/
#externalheader_rightCol {
 	background-color:black;
  height:25px;
	width:33.8%;
	float:right;
	margin-right:2%;
	border-left:medium solid blue;
	color:white;
	padding-left:10px;
}
#external_rightCol {
 	background-color:black;
  height:150px;
	width:33.8%;
	float:right;
	margin-right:2%;
	border-left:medium solid blue;
	border-top:medium solid blue;
	padding-top:10px;
	padding-left:10px;
	color:white;
}

/*Footer*/
#footer{
	background-color:white;
	color:black;
	margin-top:20%;
	clear:both;
}
